section.footer {
  padding: 40px 0 10px;
  text-align: center;
  border-top: 1px solid $light-gray;
  .footer-image {
    width: 115px;
    margin-bottom: 10px;
  }
  ul.social, ul.links {
    display: block;
    margin: 0;
    padding: rem-calc(8) 0;
    li {
      display: inline;
      list-style-type: none;
      padding: 0 rem-calc(10);
      i {
        font-size: rem-calc(17);
      }
      a {
        color: $dark;
        font-size: rem-calc(12);
        transition: opacity .5s ease;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  .copy {
    font-size: rem-calc(12);
    margin: 0;
    padding: 0;
  }
}
